.wrapper *,*:before,*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
html,body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: blue;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  width: 100%;
  overflow: visible;
}
header .body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
header .logo {
  flex: 0 0 8em;
}
header .logo img {
  max-width: 100%;
}
.container {
  max-width: 1180px;
  margin: 0px auto;
  padding: 0px 10px;
}

header .menu {
  min-width: 87%;
  /*overflow: auto;*/
}

header .list {
  display: flex;
  justify-content: space-between;
  position: relative
}
header .list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}
header .link {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
}
header .burger {
  display: none;
}

.content .container {
  margin-top: 100px;
  line-height: 20px;
}
.content text{
  font-size: 16px;
}

@media (max-width:767px) {
  .content .container {
    margin-top: 10px;
  }
  header {
    position: fixed;
    top: auto;
    bottom: 0px;
    background-color: black;
  }
  header .body {
    height: 50px;
  }
  header .logo {
    padding-left: 10px;
  }
  header .burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 10px;
  }
  header .burger span {
    position: absolute;
    background-color: white;
    left: 0px;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  header .burger:before,
  header .burger:after {
    content: '';
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0px;
  }
  header .burger:before {top:0px;}
  header .burger:after {bottom: 0px;}
  header .menu {
    position: fixed;
    bottom: -200%;
    left: 0;
    width: 100%;
    background-color: black;
    overflow: auto;
    transition: all 0.35s ease 0s;
  }
  header .menu.active {
    bottom: 50px;
    transition: all 0.35s ease 0s;
  }
  header .list {
    display: block;
  }
  header .list li {
    margin: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #808080;
  }
  header .container {
    padding: 0px;
  }
}


.widget-list1 {
  display: block;
  position: absolute;
  width: 260px;
  background-color: #f04d35;
}
.widget-list1 ul {
  margin: 10px 0px;
}
.widget-list1 li {
  margin: 0px !important;
  padding: 5px 25px 5px 25px;
}
.widget-list1 a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
.widget-list1 li:hover {
  background-color: #d13018;
}


.widget-list2 li{
  padding-left: 20px;
}


th, td{
  border: solid 1px #000;
  padding: 8px;
}
.odd
{
  background-color: rgb(176, 123, 212);
}
.even
{
  background-color: rgb(210, 140, 224);
}
#footer{
  background-color:rgb(225, 173, 230);
}
.box{
  background-color: rgb(255, 255, 255);
}

/*
.grid {
display:grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
grid-gap:20px;
}*/

.drupal-coder {
  position: absolute; 
  left: -40px;
  top:10px;
  opacity: 0.10;
}
.drupal-coder img {
  width: 600px;
}

.support-block {
  width: 500px; 
  box-shadow: 0 0 21px rgba(0,0,0,0.06); 
  border-radius: 10px;
}
.support {
  position: absolute;
  right:0;
  bottom: 0;
}
.support img {
  width: 60px;
}


.frame2 {
  position: absolute;
  top: 600px;
}
.frame3 {
  position: absolute;
  top: 2300px;
}